* {
  user-select: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
}

body.dark {
  --bg-dark-var1: #333;
  --bg-dark-black: #000;
  --bg-dark-var2: #555;
  --bg-dark-var3: #3d3d3d;
  --bg-dark-var4: #444;
  --bg-dark-var7: #777;
  --text-color: #fff;
  --text-color2: #bbb;
}

body.light {
  --bg-dark-var1: #ffffff; 
  --bg-dark-black: #ffffff; 
  --bg-dark-var2: #dddddd; 
  --bg-dark-var3: #e6e6e6; 
  --bg-dark-var4: #e0e0e0; 
  --bg-dark-var7: #cccccc; 
  --text-color: #000000; 
  --text-color2: #333333; 
}


body {
  background-color: var(--bg-dark-black);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--text-color);
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .info-contextbox {
      box-sizing: border-box;
      padding: 0 10px;
      color: var(--text-color2);
    }

    .set-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 60px;
      justify-content: center;
      align-items: center;

      .settingsButton {
        background-color: var(--bg-dark-var1);
        color: var(--text-color);
        cursor: pointer;
        border: 1px solid transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        width: 90%;
        transition: all 300ms;

        &:hover {
          border: 1px solid var(--text-color);
        }

        &:active {
          background-color: var(--text-color);
        }
      }
    }

    .detdes {
      user-select: all;
      height: 25rem;
      overflow-y: auto;
      padding: 1rem;
      border-radius: 4px;
      background-color: var(--bg-dark-var3);
      color: var(--text-color2);
      scrollbar-color: var(--bg-dark-var1) var(--bg-dark-var2);
    }

    .recipe-text {
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;

      user-select: all;
      height: 30rem;
      overflow-y: auto;
      padding: 1rem;
      border-radius: 4px;
      background-color: var(--bg-dark-var3);
      color: var(--text-color2);
      scrollbar-color: var(--bg-dark-var1) var(--bg-dark-var2);
    }

    .stars {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
      z-index: -1;
      animation: moveStars 100s linear infinite;
    }

    .nebula {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('https://www.transparenttextures.com/patterns/nebula.png') repeat;
      z-index: -1;
      opacity: 0.7;
      animation: moveNebula 150s linear infinite;
    }

    .container {
      max-width: 800px;
      width: 700px;
      height: 585px;
      padding: 2rem;
      background-color: var(--bg-dark-var3);
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 1;

      // ---------------------------------------------------------------------------
      .custom-autocomplete {
        .MuiOutlinedInput-root {
          border-radius: 12px;
          // border: 2px solid var(--text-color);
          background-color: transparent;
        }

        .MuiAutocomplete-input {
          padding: 10px;
          font-size: 16px;
          color: var(--text-color);
        }

        .MuiInputLabel-root {
          color: var(--text-color);
        }

        .Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--text-color);
        }
      }

      // ------------------------------------------------------------------
      .favoriteswrapper {
        height: 80%;
        overflow-y: auto;
        scrollbar-color: var(--bg-dark-var1) var(--bg-dark-var2);

        .donthave {
          text-align: center;
          margin-top: 170px;
          color: var(--text-color2);
        }
      }

      .favoritebuttons {
        border: 1px solid transparent;
        background-color: var(--bg-dark-var1);
        color: var(--text-color);
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem;
        cursor: pointer;
        transition: all 300ms;

        &:hover {
          border: 1px solid var(--bg-dark-var2);
          transform: scale(1.1);
        }
      }

      .addbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--bg-dark-var7);
        font-size: 30px;
        position: absolute;
        bottom: 160px;
        right: 50px;
        cursor: pointer;
        transition: all 300ms;
        border-radius: 10px;
        padding: 1rem;

        .red {
          color: red;
          animation: jumpAndShake 0.5s ease-in-out;
        }

        &:hover {
          background-color: var(--bg-dark-var1);
        }
      }

      #resultContainer {
        user-select: all;
        height: 15rem;
        overflow-y: auto;
        padding: 1rem;
        border-radius: 4px;
        background-color: var(--bg-dark-var3);
        color: var(--text-color2);
        scrollbar-color: var(--bg-dark-var1) var(--bg-dark-var2);

        .shimmer-text {
          font-size: 0.875rem;
          // color: red;
          font-weight: bold;
          position: relative;
          background: linear-gradient(90deg, var(--bg-dark-var1) 0%, var(--text-color) 50%, var(--bg-dark-var1) 100%);
          background-size: 200% 100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: shine 2s linear infinite;
        }

        #resultText {
          white-space: pre-line;
          font-family: monospace;
        }
      }

      .input-field {
        width: 96%;
        padding: 0.75rem;
        margin-top: 1rem;
        border-radius: 4px;
        background-color: var(--bg-dark-var2);
        border: 1px solid var(--bg-dark-var4);
        color: var(--text-color);
        font-size: 1rem;
        outline: none;

        &:focus {
          border-color: var(--bg-dark-var7);
        }
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;

        .button {
          width: 45%;
          padding: 0.75rem;
          border-radius: 4px;
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .generate-btn {
          background-color: var(--bg-dark-black);
          color: var(--text-color);
          border: none;

          &:hover {
            background-color: var(--bg-dark-var1);
          }
        }

        .stop-btn {
          background-color: var(--bg-dark-var1);
          color: var(--text-color2);
          border: 1px solid var(--bg-dark-var4);

          &:hover {
            background-color: var(--bg-dark-var2);
            color: var(--text-color);
          }
        }


        .disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }

    .nav {
      height: 627px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-inline-start: 0px;
      background-color: var(--bg-dark-var3);
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      padding: 10px;
      gap: 10px;

      li {
        .active{
          background-color: var(--bg-dark-var1);
        }
        button {
          padding: 3rem 1rem;
          border-radius: 10px;
          border: none;
          background-color: transparent;
          color: var(--text-color);
          border: 1px solid transparent;
          &:hover {
            background-color: var(--bg-dark-var1);
            cursor: pointer;
            transition: all 300ms;
            border: 1px solid var(--text-color);
          }
        }
      }
    }
  }
}

.custom-popper {
  z-index: 1300;

  &.dark {
    .MuiAutocomplete-paper {
      background-color: #222;
      color: #fff;
      border-radius: 12px;
      border: 1px solid #555;
    }

    .MuiAutocomplete-option {
      &:hover {
        background-color: #333;
      }

      &.Mui-focused {
        background-color: #444;
      }

      &.Mui-selected {
        background-color: #555;
      }
    }
  }

  &.light {
    .MuiAutocomplete-paper {
      background-color: #fff;
      color: #000;
      border-radius: 12px;
      border: 1px solid #ccc;
    }

    .MuiAutocomplete-option {
      &:hover {
        background-color: #f0f0f0;
      }

      &.Mui-focused {
        background-color: #e0e0e0;
      }

      &.Mui-selected {
        background-color: #d0d0d0;
      }
    }
  }
}



// --------------------------Animations---------------------------------------


@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 1000px;
  }
}

@keyframes moveNebula {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px -500px;
  }
}

@keyframes jump {
  0% {
    transform: scale(1) translateY(0);
  }

  30% {
    transform: scale(1.2) translateY(-10px);
  }

  50% {
    transform: scale(1) translateY(0);
  }
}

@keyframes jumpAndShake {
  0% {
    transform: scale(1) translateY(0);
  }

  30% {
    transform: scale(1.3) translateY(-15px);
    /* Heart jumps */
  }

  50% {
    transform: scale(1) translateY(0);
    /* Heart returns to original position */
  }

  60% {
    transform: scale(1) translateY(-5px);
    /* Small shake effect */
  }

  70% {
    transform: scale(1) translateY(5px);
  }

  80% {
    transform: scale(1) translateY(-3px);
  }

  90% {
    transform: scale(1) translateY(3px);
  }

  100% {
    transform: scale(1) translateY(0);
    /* End at the original position */
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  25% {
    transform: translateY(-5px) rotate(1deg);
  }

  50% {
    transform: translateX(5px) rotate(-1deg);
  }

  75% {
    transform: translateY(5px) rotate(1deg);
  }

  100% {
    transform: translateX(-5px) rotate(0deg);
  }
}